@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--green-600: #16a34a
}

* {
	box-sizing: border-box;
}

body {
	background: #111827;
	color: #c4c4cc;
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px var(--green-600);
}