@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	background: #131922;
	color: #c4c4cc;
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}